
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
}

.wrapper {
    background-color: #faf8f8;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 300px;
    margin: 20px auto;
    padding: 200px;
}

.wrapper__title {
    text-align: center;
    color: #333;
    margin-bottom: 150px;
}

.form {
    margin-top: 20px;
}


.user-info__item {
    margin-bottom: 9px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}
.boton-registro{
    background-color: #f88d00;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position: relative;
    bottom: 650px;
    border-radius: 5px;
    left: 750px;


}

.login-button {
    background-color: #f88d00;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position: relative;
    top: 100px;
    border-radius: 5px;
    left: 50px;
}

.login-button:hover {
    background-color: #0056b3;
}
.login-button:active {
    background-color: #ffffff;
}
.boton-registro:hover {
    background-color: #0056b3;
}
.boton-registro:active {
    background-color: #be5600;
}
.hombreboton{
    position: relative;
    left: 50px;
}

.mujerboton{
    position: relative;
  left:50px;
}

.mujer{
    position: relative;
    top: 35px;
    left: 5px;
}
.hombre{
    position: relative;
    top: 20px;
    right: 5px;
}